/* Header */

#cabecera {
    background-color: $bg-home;
    background-size: cover;
    display: grid;
    grid-area: header;
    .cabecera__background {
      @extend %imagen;
    }
    .cabecera__logo {
      width: 25%;
      left: 1%;
      margin-left: 13%;
      margin-top: 2.5%;
      position: absolute;
      animation-name: logoAnimation;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-delay: 1;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-play-state: initial;
      @keyframes logoAnimation {
        0% {
          opacity: 0;
          transform: translateX(-100px);
        }
        20%,80% {
          opacity: 1;
          transform: translateX(0);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    #navbarDropdown, .nav-item, .nav-link, .navbar-nav {
      color: white;
      font-weight: bold;
      font-size: 100%;
      &:hover {
        color: rgb(153, 153, 153);
      }
    }
  .dropdown-item, .navbar-toggler  {
    color:$bg-home;
    font-weight: bold;
    font-size: 100%;   
  }
  .btn{
    color:white;
    background-color: $bg-detail;
    border-color: orange;
    font-weight: bold;
    font-size: 100%;
    &:hover {
      color: $bg-page;
      background-color: white;
      border-color: $bg-page;
    }
  }
}
