/* Lista de Articulos */

.grid-articulos {
    display: grid;
    grid-column: 1fr;
    grid-row: 5, 1fr;
    grid-template-areas: 
    ' header   header   header '
    ' noticia  noticia  aside '
    ' noticia  noticia  aside '
    ' noticia  noticia  aside '
    ' footer   footer   footer';
    main {
      display: grid;
      grid-area: noticia;
      margin-top: 2%;
      ul {
        background: map-get($standard, bg-standard);
        padding: 3%;
        li {
          background-color: $bg-home;
          list-style-type: none;
          border-radius: map-get($standard, border-standard);
          margin: 2%;
          a {
            display: map-get($standard, flexbox-standard);
            flex-direction: row-reverse;
            color: white;
            text-decoration: none;
            border-radius: map-get($standard, border-standard);
            padding: 1%;
            &:hover {
              color:#017bab;
              background-color:aliceblue;
              @extend %hover;
              border-radius: map-get($standard, border-standard);
              img {
                transition: all 0.5s;
                transform: scale(1.0);
              }
              h2 {
                padding: 1%;
              }
            }
            img {
              width: 25%;
              height: 45%;
              border-radius: map-get($standard, border-standard);
            }
            h2 {
              font-size: 110%;
              margin: 2%;
              padding: 1%;
              text-align: justify;
            }
          }
        }       
      }
    }
    #aside {
      display: grid;
      grid-area: aside;
      margin-top: 4.7%;
      ul {
        background-color: $bg-home;
        padding: 2%;
        justify-content: center;
        li {
          list-style-type: none;
          border-radius: map-get($standard, border-standard);
          background-color: $bg-home;
          display: flex;
          justify-content: center;
          img {
            border-radius: map-get($standard, border-standard);
            width: 95%;
            height: auto;
          }
        }
      }
    }
}  
.grid-noticias {
  #articulo {
    background-color: $bg-home;
    border-radius: map-get($standard, border-standard);
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
      .articulo {
        color: white;
        margin: 2%;
          h1 {
            text-align: center;
            font-weight: 600;
            color: $bg-page;
            background-color: white;
            border-color: $bg-page;
            border-radius: map-get($standard, border-standard);
            margin: 2%;
          }
          h2 {
            text-align: center;
            font-weight: 600;
            margin: 2%;
          }
          h3 {
            text-align: justify;
            margin: 20px 40px 20px 40px;
            padding:0% 2% 0% 2%;
            text-indent: 40px;
          }
      }
      .articulo-foto {
        text-align: center;
        margin: 20px 40px 20px 40px;
        img {
          @extend %imagen;
          padding: 1%;
        }
      }
      .articulo-video {
        text-align: center;
        video {
          padding: 2%;
          @extend %imagen;
        }
      }
  }
}


