$standard: (
    color-standard: $bg-page,
    bg-standard: $bg-home,
    content-standard: $bg-content,
    mx-auto: 0 auto,
    flexbox-standard: flex,
    font-standard: $font-content,
    border-standard: 4px 4px 4px 4px,
);
